In [239]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, LabelEncoder, OneHotEncoder

pd.set_option('display.max_rows', None)

train = pd.read_csv('./datasets/train_df.csv', encoding="cp949")
test = pd.read_csv('./datasets/test_df.csv', encoding="cp949")

submission = pd.read_csv('./datasets/sample_submission.csv', encoding="cp949")

In [218]:
train.shape, test.shape

((32000, 6), (4640, 5))

In [219]:
df = pd.concat([train, test], axis=0)

In [220]:
df.shape

(36640, 6)

In [221]:
df.columns = ['index', 'send_num', 'receive_num', "cate_big", "cate_mid","target"]

In [222]:
df.head()

   index          send_num       receive_num cate_big cate_mid  target
0      0  1129000014045300  5011000220046300     패션의류       상의     3.0
1      1  1135000009051200  5011000178037300    생활/건강     반려동물     3.0
2      2  1135000030093100  5011000265091400     패션의류   기타패션의류     9.0
3      3  1154500002014200  5011000315087400       식품      농산물    10.0
4      4  1165000021008300  5011000177051200       식품     가공식품     3.0

In [223]:
df['send_num'].nunique(), df['receive_num'].nunique()

(3983, 31413)

In [224]:
df['send_num_3'] = df["send_num"].astype('str').str[:3].astype('int64')
df['send_num_4'] = df['send_num'].astype('str').str[:4].astype('int64')
df['send_num_5'] = df['send_num'].astype('str').str[:5].astype('int64')
df['send_num_6'] = df['send_num'].astype('str').str[:6].astype('int64')
df['send_num_7'] = df['send_num'].astype('str').str[:7].astype('int64')
df['send_num_8'] = df['send_num'].astype('str').str[:8].astype('int64')
df['send_num_9'] = df['send_num'].astype('str').str[:9].astype('int64')
df['send_num_10'] = df['send_num'].astype('str').str[:10].astype('int64')

In [225]:
df['rec_num_3'] = df["receive_num"].astype('str').str[:3].astype('int64')
df['rec_num_4'] = df['receive_num'].astype('str').str[:4].astype('int64')
df['rec_num_5'] = df['receive_num'].astype('str').str[:5].astype('int64')
df['rec_num_6'] = df['receive_num'].astype('str').str[:6].astype('int64')
df['rec_num_7'] = df['receive_num'].astype('str').str[:7].astype('int64')
df['rec_num_8'] = df['receive_num'].astype('str').str[:8].astype('int64')
df['rec_num_9'] = df['receive_num'].astype('str').str[:9].astype('int64')
df['rec_num_10'] = df['receive_num'].astype('str').str[:10].astype('int64')

In [226]:
df.head()

,index,send_num,receive_num,cate_big,cate_mid,target,send_num_3,send_num_4,send_num_5,send_num_6,...,send_num_9,send_num_10,rec_num_3,rec_num_4,rec_num_5,rec_num_6,rec_num_7,rec_num_8,rec_num_9,rec_num_10
0,0,1129000014045300,5011000220046300,패션의류,상의,3.0,112,1129,11290,112900,...,112900001,1129000014,501,5011,50110,501100,5011000,50110002,501100022,5011000220
1,1,1135000009051200,5011000178037300,생활/건강,반려동물,3.0,113,1135,11350,113500,...,113500000,1135000009,501,5011,50110,501100,5011000,50110001,501100017,5011000178
2,2,1135000030093100,5011000265091400,패션의류,기타패션의류,9.0,113,1135,11350,113500,...,113500003,1135000030,501,5011,50110,501100,5011000,50110002,501100026,5011000265
3,3,1154500002014200,5011000315087400,식품,농산물,10.0,115,1154,11545,115450,...,115450000,1154500002,501,5011,50110,501100,5011000,50110003,501100031,5011000315
4,4,1165000021008300,5011000177051200,식품,가공식품,3.0,116,1165,11650,116500,...,116500002,1165000021,501,5011,50110,501100,5011000,50110001,501100017,5011000177

In [261]:
# df.groupby('send_num_4').sum()

# np.log(train.groupby('send_sum_4').sum()['target']).hist()

In [229]:
# 같은 곳에서 같은 곳으로 보내는

same_idx = df.loc[df['send_num'] == df['receive_num'], 'index'].index
df['same'] = 0

for idx in same_idx:
    df.loc[idx, 'same'] = 1

In [230]:
df.head()

,index,send_num,receive_num,cate_big,cate_mid,target,send_num_3,send_num_4,send_num_5,send_num_6,...,send_num_10,rec_num_3,rec_num_4,rec_num_5,rec_num_6,rec_num_7,rec_num_8,rec_num_9,rec_num_10,same
0,0,1129000014045300,5011000220046300,패션의류,상의,3.0,112,1129,11290,112900,...,1129000014,501,5011,50110,501100,5011000,50110002,501100022,5011000220,0
1,1,1135000009051200,5011000178037300,생활/건강,반려동물,3.0,113,1135,11350,113500,...,1135000009,501,5011,50110,501100,5011000,50110001,501100017,5011000178,0
2,2,1135000030093100,5011000265091400,패션의류,기타패션의류,9.0,113,1135,11350,113500,...,1135000030,501,5011,50110,501100,5011000,50110002,501100026,5011000265,0
3,3,1154500002014200,5011000315087400,식품,농산물,10.0,115,1154,11545,115450,...,1154500002,501,5011,50110,501100,5011000,50110003,501100031,5011000315,0
4,4,1165000021008300,5011000177051200,식품,가공식품,3.0,116,1165,11650,116500,...,1165000021,501,5011,50110,501100,5011000,50110001,501100017,5011000177,0

In [231]:
# df['send_4'] = df['SEND_SPG_INNB'].astype(str).apply(lambda x: x[:4])
# df['rec_4'] = df['REC_SPG_INNB'].astype(str).apply(lambda x: x[:4])

# df["send_4"] = df["send_4"].astype(int)
# df["rec_4"] = df["rec_4"].astype(int)

# fig, ax = plt.subplots(figsize=(10,10))
# sns.heatmap(df.corr(), annot=True, fmt=".4f", cmap="Blues")

## 데이터 전처리

In [232]:
train = df[~df['target'].isna()]
test  = df[df['target'].isna()]

test.drop('target', axis=1, inplace=True)

print(df.shape, train.shape, test.shape)

(36640, 23) (32000, 23) (4640, 22)

c:\AI\pythonProject\venv\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [233]:
train['target'] = train['target'].astype('int64')

C:\Users\soyun\AppData\Local\Temp/ipykernel_7432/1696841195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['target'] = train['target'].astype('int64')

In [234]:
train.head()

,index,send_num,receive_num,cate_big,cate_mid,target,send_num_3,send_num_4,send_num_5,send_num_6,...,send_num_10,rec_num_3,rec_num_4,rec_num_5,rec_num_6,rec_num_7,rec_num_8,rec_num_9,rec_num_10,same
0,0,1129000014045300,5011000220046300,패션의류,상의,3,112,1129,11290,112900,...,1129000014,501,5011,50110,501100,5011000,50110002,501100022,5011000220,0
1,1,1135000009051200,5011000178037300,생활/건강,반려동물,3,113,1135,11350,113500,...,1135000009,501,5011,50110,501100,5011000,50110001,501100017,5011000178,0
2,2,1135000030093100,5011000265091400,패션의류,기타패션의류,9,113,1135,11350,113500,...,1135000030,501,5011,50110,501100,5011000,50110002,501100026,5011000265,0
3,3,1154500002014200,5011000315087400,식품,농산물,10,115,1154,11545,115450,...,1154500002,501,5011,50110,501100,5011000,50110003,501100031,5011000315,0
4,4,1165000021008300,5011000177051200,식품,가공식품,3,116,1165,11650,116500,...,1165000021,501,5011,50110,501100,5011000,50110001,501100017,5011000177,0

In [235]:
# # scaling
# scaler = StandardScaler()

# scaler.fit(train)

In [237]:
# 원핫 인코딩
train_one = pd.get_dummies(train)
test_one = pd.get_dummies(test)

In [241]:
pd.set_option('display.max_rows', None)
train_one.head()

,index,send_num,receive_num,target,send_num_3,send_num_4,send_num_5,send_num_6,send_num_7,send_num_8,...,cate_mid_문화컨텐츠,cate_mid_반려동물,cate_mid_상의,cate_mid_생활용품,cate_mid_수산,cate_mid_스킨케어,cate_mid_음료,cate_mid_음반,cate_mid_주방용품,cate_mid_축산
0,0,1129000014045300,5011000220046300,3,112,1129,11290,112900,1129000,11290000,...,0,0,1,0,0,0,0,0,0,0
1,1,1135000009051200,5011000178037300,3,113,1135,11350,113500,1135000,11350000,...,0,1,0,0,0,0,0,0,0,0
2,2,1135000030093100,5011000265091400,9,113,1135,11350,113500,1135000,11350000,...,0,0,0,0,0,0,0,0,0,0
3,3,1154500002014200,5011000315087400,10,115,1154,11545,115450,1154500,11545000,...,0,0,0,0,0,0,0,0,0,0
4,4,1165000021008300,5011000177051200,3,116,1165,11650,116500,1165000,11650000,...,0,0,0,0,0,0,0,0,0,0

## 모델링

In [242]:
from lightgbm import LGBMRegressor

train_Y = train_one['target']
train_X = train_one.drop('target',axis = 1)


#모델 정의
model = LGBMRegressor()

In [243]:
# 모델 학습
model.fit(train_X,train_Y)

LGBMRegressor()

In [244]:
# test 데이터 예측
pred = model.predict(test_one)

In [246]:
pred[:10]

array([4.94179519, 4.94179519, 4.98480131, 5.70030954, 5.60157603,
       8.88550276, 5.37351422, 4.98480131, 5.08966754, 5.50932314])

## 정답파일 생성

In [256]:
submission.drop('target', axis=1, inplace=True)

In [257]:
submission['INVC_CONT'] = pred

In [258]:
submission.to_csv('baseline.csv',index = False)

In [259]:
sub = pd.read_csv('baseline.csv')

In [260]:
sub.head()

   index  INVC_CONT
0  32000   4.941795
1  32001   4.941795
2  32002   4.984801
3  32003   5.700310
4  32004   5.601576